UI_BASE_URL=https://parabank.parasoft.com/parabank
API_BASE_URLS=http://parabank.parasoft.com:8080/parabank/services/bank,https://parabank.parasoft.com/parabank/services/bank
RUN_UI=true
HEADLESS=false
SLOW_MO_MS=400
TIMEOUT_MS=45000
